.swiper-pagination {
  width: 100px !important;
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #00a8cc;
}
