.swiper-button-prev:active,
.swiper-button-next:active {
  transform: translateY(2px);
  transition-duration: 150ms;
}

.swiper-pagination {
  width: 100px !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
