.slick-slider {
  position: relative;
  border-radius: 0.25rem;
}
.slick-slider button {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 9999px;
  transition: all 0.1s;
}

.slick-slider button:active {
  transform: translateY(-45%);
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
}
.slick-prev {
  left: -70px;
}

.slick-prev::before {
  content: url("src/assets/chevron-left.svg");
}

.slick-next {
  right: -70px;
}

.slick-next::before {
  content: url("src/assets/chevron-right.svg");
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
